// team section
.team-section {
    .team-heading {
        @media (min-width: 1024px) {
            font-size: 35px;
        }

        @media (min-width: 1440px) {
            font-size: 45px;
        }

        @media (min-width: 1900px) {
            font-size: 55px;
        }

        .team-heading-colour {
            color: $link-hover-blue;
        }
    }

    .team-sub-heading {
        color: $text-dark-grey;

        @media (min-width: 768px) {
            width: 50%;
        }
    }

    .team-card {
        min-width: 200px;
        transition: transform 300ms, box-shadow 300ms;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 .5rem 1rem rgba(black, .15);

            .team-name {
                color: $link-hover-blue;
            }
        }

        .team-card-body {
            .team-name {
                font-size: 18px;
                font-weight: 400;
                transition: color 300ms;
            }

            .team-position {
                font-size: 16px;
                font-weight: 300;
                color: $text-dark-grey;
            }

            .team-list {
                list-style-type: none;

                img {
                    &:hover {
                        filter: invert(56%) sepia(97%) saturate(3097%) hue-rotate(213deg) brightness(93%) contrast(103%);
                    }
                }
            }
        }

        @media (min-width: 768px) {
            min-width: 300px;
        }

        @media (min-width: 1024px) {
            min-width: 350px;
        }

        @media (min-width: 1440px) {
            min-width: unset;
        }
    }
}