$logo-red: #BC424E;
$link-hover-blue: #6F77F1;
$text-black: #212528;
$text-grey: #727272;
$text-dark-grey: #828282;
$button-yellow: #FAD725;
$button-yellow-hover: #e6c000;
$light-purple: #DCDDFF;
$text-light-grey: #FAFAFF;
$back-grey: #FAFAFA;
$card-hover-red: #D38094;
$card-hover-green: #80D3A4;
$card-hover-blue: #60C2F8;
$card-hover-purple: #717AE0;
$text-heading-grey :#666565;

// import sections
@import 'styles/navbar';
@import 'styles/hero';
@import 'styles/expertise';
@import 'styles/work';
@import 'styles/solution';
@import 'styles/utility';
@import 'styles/reason';
@import 'styles/need';
@import 'styles/statistics';
@import 'styles/speed';
@import 'styles/plan';
@import 'styles/team';
@import 'styles/subscribe';

// universal css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// bootstrap class overwrite 
.container {
    @media (min-width: 1450px) {
        max-width: 1665px;
    }
}

// footer section
.footer-section {
    .nav-logo-style {
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 1px;
        margin: auto 0;
        color: $text-black;

        @media (min-width: 768px) {
            font-size: 28px;
        }

        @media (min-width: 1024px) {
            font-size: 35px;
        }

        @media (min-width: 1900px) {
            font-size: 45px;
        }

        .logo-circle {
            font-size: 18px;
            color: $logo-red;
            margin-top: 6px;

            @media (min-width: 768px) {
                font-size: 20px;
                margin-top: 7px;
            }

            @media (min-width: 1024px) {
                font-size: 24px;
                margin-top: 10px;
            }

            @media (min-width: 1900px) {
                font-size: 32px;
                margin-top: 10px;
            }
        }
    }

    .footer-list {
        list-style-type: none;

        @media (min-width: 1024px) {
            width: 45%;
        }

        .footer-list-item {

            .footer-list-link {
                text-decoration: none;
                color: black;
            }
        }
    }
}